In [4]:
import pandas as pd
import numpy as np

In [18]:
fstr_in = "/projects/master-theses/henschell/FastInfantSurfer/data/dataset_split_large_training_t1t2.csv"
fstr_out = f"{fstr_in[:-4]}_meta_hires.tsv"

In [19]:
# Read in the meta-information, create correct SubjectID for merging with val data
meta = pd.read_csv("/projects/master-theses/henschell/FastInfantSurfer/data/subject_meta_full.csv")
meta["SubjectFix"] = "sub-" + meta["participant_id"].astype(str) + "_ses-" + meta["session_id"].astype(str) 

# Read in the split data
val = pd.read_csv(fstr_in, names=["Path"])

# Split to get SubjectID
val["SubjectFix"] = val["Path"].str.split("/").str[-1]

In [20]:
val.shape

(356, 2)

In [21]:
meta[["SubjectFix", "scan_age", "sex"]].head()

                 SubjectFix  scan_age     sex
0  sub-CC00050XX01_ses-7201     43.29  female
1  sub-CC00051XX02_ses-7702     40.00  female
2  sub-CC00052XX03_ses-8300     38.71  female
3  sub-CC00053XX04_ses-8607     40.43  female
4  sub-CC00054XX05_ses-8800     42.14    male

In [22]:
# Add Gender and Age to split data
val = val.merge(meta[["SubjectFix", "scan_age", "sex"]], on="SubjectFix", how="inner").drop_duplicates()

In [23]:
val.shape

(355, 4)

In [24]:
# Sort by 1. Gender, 2. Age
val_sorted = val.sort_values(["sex", "scan_age"]).reset_index(drop=True)

In [25]:
# Assign 0.5, 0.8, 1.0 until the end
from itertools import cycle

resolution = cycle([0.5, 0.8]) #, 1.0])
val_sorted["Resolution"] = [next(resolution) for res in range(len(val_sorted))]

In [26]:
val_sorted

,Path,SubjectFix,scan_age,sex,Resolution
0,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00718XX17_ses-210400,26.71,female,0.5
1,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00936XX21_ses-11431,27.43,female,0.8
2,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00867XX18_ses-37111,28.29,female,0.5
3,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00796XX22_ses-245100,29.29,female,0.8
4,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00530XX11_ses-153600,29.29,female,0.5
...,...,...,...,...,...
350,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00130XX07_ses-44001,43.43,male,0.5
351,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC00890XX17_ses-13330,43.71,male,0.8
352,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC01027XX13_ses-82630,43.71,male,0.5
353,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC01206XX10_ses-143530,43.86,male,0.8
354,/autofs/vast/lzgroup/Projects/FastInfantSurfer...,sub-CC01105XX08_ses-99330,44.43,male,0.5

In [27]:
# write csv-file with res to file
val_sorted.to_csv(fstr_out, index=False, sep="\t")

In [29]:
fstr_out

'/projects/master-theses/henschell/FastInfantSurfer/data/dataset_split_large_training_t1t2_meta_hires.tsv'

In [17]:
# check if you can load the file
separator = "\t" if fstr_out[-3] == "t" else ","
s_file = pd.read_csv(fstr_out, sep=separator)
subject_dirs = s_file["Path"].to_list()
subject_dirs

['/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00694XX19_ses-201800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00666XX15_ses-198200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00526XX15_ses-150500',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00305XX08_ses-98101',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01153AN07_ses-102030',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00628XX18_ses-181800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01129XX16_ses-101430',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00946XX23_ses-15230',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01218XX14_ses-147430',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00986AN22_ses-26730',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00648XX22_ses-191100',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00517XX14_ses-145000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00688XX21_ses-199500',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00434AN14_ses-127700',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00597XX21_ses-190200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00313XX08_ses-100000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00550XX06_ses-157800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00301XX04_ses-113001',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00060XX03_ses-12501',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00071XX06_ses-27000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00720XX11_ses-211101',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00504XX09_ses-146800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00787XX21_ses-19010',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00377XX15_ses-119800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00068XX11_ses-20701',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00088XX15_ses-31801',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00716XX15_ses-222800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00410XX06_ses-125800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00876XX19_ses-17931',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00458XX13_ses-138900',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00057XX08_ses-11002',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00062XX05_ses-13801',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00946XX23_ses-26330',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01198XX20_ses-140930',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00986AN22_ses-41730',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00349XX20_ses-110300',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01025XX11_ses-61330',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01059AN12_ses-72130',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00997BN25_ses-56430',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01074XX11_ses-63930',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00661XX10_ses-195801',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01077XX14_ses-65230',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01208XX12_ses-144731',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00788XX22_ses-243000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00218BN12_ses-74800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00152AN04_ses-49200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01116BN11_ses-84330',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00569XX17_ses-158300',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00489XX20_ses-138800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00087AN14_ses-31800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00406XX10_ses-122900',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00281AN10_ses-90400',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00231XX09_ses-77701',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00122XX07_ses-42000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00754BN12_ses-223701',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00389XX19_ses-133800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00066XX09_ses-19200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00489XX20_ses-142900',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00515XX12_ses-152600',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00329XX16_ses-105400',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00747XX22_ses-238600',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00406XX10_ses-129200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00585XX17_ses-178900',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00478XX17_ses-141601',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00144XX13_ses-47701',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00594XX18_ses-189800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00385XX15_ses-125700',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00395XX17_ses-129500',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00189XX17_ses-62301',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00400XX04_ses-123700',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00115XX08_ses-37801',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00171XX07_ses-56300',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00443XX15_ses-133900',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00810XX10_ses-29010',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01111XX06_ses-100031',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00886XX21_ses-18030',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00482XX13_ses-142000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00554XX10_ses-160200',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00183XX11_ses-60300',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00605XX11_ses-187700',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00089XX16_ses-32101',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00149XX18_ses-49000',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00967XX19_ses-58330',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00481XX12_ses-141800',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00091XX10_ses-32300',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00930XX15_ses-43930',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00908XX17_ses-37030',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC01192XX14_ses-147330',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00891XX18_ses-30630',
 '/groups/ag-reuter/projects/datasets/dHCP/Data/sub-CC00352XX06_ses-110700']